parameters:
  level: 6
  paths:
    - plugin/restaurant-suite-core/src
  bootstrapFiles:
    - stubs/wordpress-woocommerce-elementor.php
    - stubs/wordpress-v04.php
  excludePaths:
    - %currentWorkingDirectory%/vendor
